{% extends "base.html" %}
{% block content %}
  <h2>League Makers!</h2>
  <p align="center">Welcome to League Makers!</p>
  <p align="center">This sites allows you to create a League of your friends for any game you want and track the results using an ELO ranking system</p>
  <p align="center">Here is a quick overview of how use the site, there are a few different ways that content on the site will change.  The default wiew will allow users to look at general information and information about the user.  Once the user has selected a league then information about the league will also becom avaiable.  If the user is an admin of the selected league even more options will be avaiable</p>
  <p align="center"><b>About Link:</b></p>
  <p align="center">This link will give you information about the site and how to use it</p>
  <p align="center"><b>Manage Link:</b></p>
  <p align="center">This link will allow you to see information about your account, pick leagues you are a member of or an admin of to look at, and create a League, and change things within a league.  You are also able to see a history of matches or run tournaments through the manage link</p>
  <p align="center"><b>Matches Link:</b></p>
  <p align="center">This is where you will create match ups between players. You can also create a random pairing</p> 
  <p align="center"><b>Results Link:</b></p>
  <p align="center">This is where you can enter the winners of the matches you created in the Match up section</p>
  <p align="center"><b>Rankings Link:</b></p>
  <p align="center">This is where you can see the rankings of the whole league</p>
{% endblock %}